[miniapp](../../index.md) / [com.rakuten.tech.mobile.miniapp](../index.md) / [MiniAppSdkConfig](index.md) / [requireSignatureVerification](./require-signature-verification.md)

# requireSignatureVerification

`val requireSignatureVerification: `[`Boolean`](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-boolean/index.html)

Whether the Mini App SDK verifies signature of a Mini App.

### Property

`requireSignatureVerification` - Whether the Mini App SDK verifies signature of a Mini App.