<!--This is a test mock Android Manifest file used by Robolectric tests-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rakuten.tech.mobile.miniapp.legacy.platform"
    android:versionCode="1"
    android:versionName="0.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.rakuten.tech.mobile.miniapp.TestActivity"/>
    </application>

</manifest>
