<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rakuten.tech.mobile.miniapp.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.rakuten.tech.mobile.testapp.TestApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.rakuten.mobile.miniapp.BaseUrl"
            android:value="${baseUrl}" />

        <meta-data
            android:name="com.rakuten.mobile.miniapp.HostAppVersion"
            android:value="${hostAppVersion}" />

        <meta-data
            android:name="com.rakuten.mobile.ras.AppId"
            android:value="${appId}" />

        <meta-data
            android:name="com.rakuten.mobile.ras.ProjectSubscriptionKey"
            android:value="${subscriptionKey}" />

        <activity
            android:label="@string/app_name"
            android:name="com.rakuten.tech.mobile.testapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="Mini App"
            android:name="com.rakuten.tech.mobile.testapp.MiniAppActivity"
            android:parentActivityName="com.rakuten.tech.mobile.testapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rakuten.mobile.testapp.com.rakuten.tech.mobile.testapp.MainActivity" />
        </activity>
    </application>

</manifest>