<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rakuten.tech.mobile.miniapp.testapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name="com.rakuten.tech.mobile.testapp.SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
          android:launchMode="singleTop"
          android:name="com.rakuten.tech.mobile.testapp.ui.miniapplist.MiniAppListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
              android:name="android.app.searchable"
              android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.rakuten.tech.mobile.testapp.ui.display.MiniAppDisplayActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.rakuten.tech.mobile.testapp.ui.input.MiniAppInputActivity"
            android:label="@string/action_go_input"/>
        <activity
          android:label="@string/lb_app_settings"
          android:name="com.rakuten.tech.mobile.testapp.ui.settings.SettingsMenuActivity"
          android:theme="@style/AppThemeSettings" />
        <activity android:name="com.rakuten.tech.mobile.testapp.ui.display.WebViewActivity"/>

        <meta-data
            android:name="com.rakuten.tech.mobile.miniapp.BaseUrl"
            android:value="${baseUrl}" />
        <meta-data
            android:name="com.rakuten.tech.mobile.miniapp.IsTestMode"
            android:value="${isTestMode}" />
        <meta-data
            android:name="com.rakuten.tech.mobile.miniapp.HostAppVersion"
            android:value="${hostAppVersion}" />
        <meta-data
            android:name="com.rakuten.tech.mobile.miniapp.HostAppUserAgentInfo"
            android:value="${hostAppUserAgentInfo}" />
        <meta-data
            android:name="com.rakuten.tech.mobile.ras.AppId"
            android:value="${appId}" />
        <meta-data
            android:name="com.rakuten.tech.mobile.ras.ProjectSubscriptionKey"
            android:value="${subscriptionKey}" />
    </application>

</manifest>