//[miniapp](../../../index.md)/[com.rakuten.tech.mobile.miniapp](../index.md)/[MiniAppSdkConfig](index.md)/[requireSignatureVerification](require-signature-verification.md)

# requireSignatureVerification

[androidJvm]\
val [requireSignatureVerification](require-signature-verification.md): [Boolean](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-boolean/index.html) = false
